.lns-checkbox {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lns-checkbox span {
    position: relative;
    display: flex;
    align-items: center;
}

.lns-checkbox input[type="checkbox"] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.lns-checkbox input[type="checkbox"]:checked + span::after {
    background-color: var(--color-accent);
}

.lns-checkbox input[type="checkbox"]:checked + span {
    color: var(--color-accent);
}

.lns-checkbox input[type="checkbox"]:focus + span::before {
    border-color: var(--color-accent);
}

.lns-checkbox input[type="checkbox"]:disabled {
    opacity: 0.85;
}

.lns-checkbox input[type="checkbox"]:disabled + span {
    color: #9a9a88;
}

.lns-checkbox span::before {
    content: "";
    display: inline-block;
    border-radius: 3px;
    background-color: var(--faint-bg);
    margin-right: 8px;
    height: 16px;
    width: 16px;
    border: 1px solid transparent;
}

.lns-checkbox span::after {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background-color: transparent;
    left: 3px;
    position: absolute;
}
