{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>alkisguiden.tk</title>
        <link href="{% static "3rdparty/pure/pure-min.css" %}" rel="stylesheet">
        <link href="{% static "3rdparty/pure/grids-responsive-min.css" %}" rel="stylesheet">
        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="pure-g" id="header">
            <div class="pure-u-1 pure-u-md-1-6"></div>
            <div class="pure-u-1 pure-u-md-2-3">
                <div class="content">
                    <span class="title">alkisguiden.tk</span>
                    <br>
                    <span class="subtitle"> - {{ subtitle }}</span>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-6"></div>
        {% block content %}
        {% endblock %}
        <div class="pure-g" id="footer">
            <div class="pure-u-1 pure-u-md-1-6"></div>
            <div class="pure-u-1 pure-u-md-2-3">
                <div class="content">
                    <p>
                    Mekka i <a href="https://www.djangoproject.com/">Django</a> av <a href="mailto:admin@alkisguiden.tk">herr Ilsaas</a>. Bruker <a href="https://purecss.io/">Pure</a>.
                    </p>
                    <p>
                    Er du nysgjerrig på hvordan dette svineriet funker kan du sjekke <a href="https://github.com/mikeri/alkisguiden">kildekoden</a>.
                    </p>
                    <p>
                    Om du finner tjenesten nyttig vil du sikkert også sette pris på <a href="https://spritjakt.no">spritjakt.no</a>.
                    </p>
                </div>
            </div>
        </div>
        <script src="{% static "js/products.js" %}"></script>
    </body>
</html>
