{% extends "products/base.html" %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-6"></div>
    <div class="pure-u-1 pure-u-md-2-3">
        <div class="content">
            <p>
            Endelig har du muligheten til å sortere på de viktige faktorene når du velger godsaker; pris og alkoholprosent! Skal du virkelig ha bang for the buck, så er det alkoholliterprisen som indikerer fyll pr krone.
            </p>
            <p>
            Bare sjekk av hva du liker å drikke på og klikk på kolonneoverskriften du ønsker å sortere etter. Når ingen produkttyper er valgt vises alle. Skulle du være opptatt av snobbete uvesentligheter som f. eks. opprinnelse eller smak (jeg må le) kan du klikke på produktnavnet for å åpne Vinmonopolets produktside.
            </p>
        </div>
        <div class="pure-g">
            <div class="content">
                {% for type in product_types %}
                <div class="pure-u-1-2 pure-u-md-1-4 type-selector-wrap">
                    <label class="lns-checkbox">

                        <input hx-get="table" hx-include="input" hx-target="#table-content" type="checkbox" class="checkbox type-selector" value="" name="type-{{ type.pk }}">
                        <span>{{ type.name }}</span>
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div id="table-wrap">
            <div class="content">
                <table id="main-table">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th class="valuecolumn">
                                <button hx-get="table" hx-target="#table-content" hx-include="input" name="sort" class="sortbutton" value="alcohol">Alkoholprosent</button>
                            </th>
                            <th class="valuecolumn">
                                <button hx-get="table" hx-target="#table-content" hx-include="input" name="sort" class="sortbutton" value="litre_price">Literpris</button>
                            </th>
                            <th class="valuecolumn">
                                <button hx-get="table" hx-target="#table-content" hx-include="input" name="sort" class="sortbutton" value="alcohol_litre_price">Alkoholliterpris</button>
                            </th>
                            <th class="valuecolumn">
                                <button hx-get="table" hx-target="#table-content" hx-include="input" name="sort" class="sortbutton" value="price">Enhetspris</button>
                            </th>
                            <th class="valuecolumn">
                                <button hx-get="table" hx-target="#table-content" name="sort" class="sortbutton" value="volume">Volum</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-content">
                        {% include "products/product_table.html" %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-6"></div>
</div>
{% endblock %}
