{% extends "products/base.html" %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-6"></div>
    <div class="pure-u-1 pure-u-md-2-3">
        <p>
        Endelig har du muligheten til å sortere på de viktige faktorene når du velger godsaker; pris og alkoholprosent! Skal du virkelig ha bang for the buck, så er det aloholliterprisen som indikerer fyll pr krone.
        </p>
        <p>
        Bare sjekk av hva du liker å drikke på og klikk på kolonneoverskriften du ønsker å sortere etter. Når ingen produkttyper er valgt vises alle. Skulle du være opptatt av snobbete uvesentligheter som f. eks. opprinnelse eller smak (jeg må le) kan du klikke på produktnavnet for å åpne Vinmonopolets produktside.
        </p>
        <div class="pure-g">
            {% for type in product_types %}
            <div class="pure-u-1-2 pure-u-md-1-4 type-selector-wrap">
                <input type="checkbox" class="checkbox type-selector" value="" name="{{ type.pk }}">
                {{ type.name }}
            </div>
            {% endfor %}
        </div>
        <br>
        <div id="table-wrap">
            <table id="main-table">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th data-sort="alcohol" class="valuecolumn">Aloholprosent</th>
                        <th data-sort="litre_price" class="valuecolumn">Literpris</th>
                        <th data-sort="alcohol_litre_price" class="valuecolumn">Aloholliterpris</th>
                        <th data-sort="price" class="valuecolumn">Enhetspris</th>
                        <th data-sort="volume" class="valuecolumn">Volum</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    {% include "products/product_table.html" %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-6"></div>
</div>
{% endblock %}
